<h2>Reset your password</h2>

<p>Hi <%= @resource.name.present? ? @resource.name.split(' ').first : 'there' %>,</p>

<p>We received a request to reset your Keelfin password. Click the button below to choose a new one.</p>

<p style="text-align: center;">
  <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>" class="btn">Reset my password</a>
</p>

<p>This link will expire in 6 hours for your security.</p>

<div class="note">
  <strong>Didn't request this?</strong> You can safely ignore this email. Your password will remain unchanged and your account is secure.
</div>
